body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #7af35f;
    color: white;
}

header h1 {
    font-size: 30px;
    margin: 0;
}


/* Navigation Bar */
.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;                      /* flexbox - alt indeni navbar (ul liste af links både med nav left og right) lægges på 1 linje*/
    justify-content: space-between;     /* fordeling af plads mellem elementerne*/
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;                      /* tekst links sættes på samme linje */
}

nav ul li {
    display: inline;                    /* link tekst står på en linje */
    margin: 0 30px;                     /* ingen afstand over eller under linktekst, men 30px afstand mellem dem højre og venstre */
}

nav ul li a {
    text-decoration: none;              /* understregning for links fjernes */
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;        /* tid for overgang når mus holdes over tekst så den skrifter farve */
}


nav ul li a:hover {
    color: #575757;                     /* overgangs farve skift når mus er ovre link tekst */
}


main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px 0;
    color: black;
}


form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 10px;
}


.container {
    max-width: 1200px;
    padding: 40px;
    margin: 40px auto;                  /* Centrerer tekst boks indholdet på siden */
    background-color: #ffffff;
    border-radius: 15px;
}


h1 {
    color: white;
}


/* Footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    font-size: 18px;
}