<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakta om Madspild</title>
    <link rel="stylesheet" href="/AboutStylesheet.css">
</head>


<body>
    <header>
        <h1>Værd at vide om madspild</h1>
    </header>



    <nav class="navbar">
        <ul class="nav-left">
            <li><a href="index">Forside</a></li>
            <li><a href="fakta">Fakta</a></li>
            <li><a href="tips">Tips og råd</a></li>
            <li><a href="Event">Events</a></li>
            <li><a href="about">Om os</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="login">Login</a></li>
        </ul>
    </nav>


    <div class="container">
        <section class="about-content">
            <h2>Vores mission</h2>
            <p>Hos "Danmark mod Madspild" kæmper vi for en grønnere og mere bæredygtig fremtid. Vores mål er at få reduceret mængden af mad som der bliver smidt ud i Danmark af: forbrugere i hjemmet, virksomheder, organisationer og butikker.</p>
            <p>Vi tror på, at viden og fællesskab er vejen frem. Derfor arbejder vi med at udbrede fakta, dele konkrete tips og skabe fællesskaber omkring handling.</p>

            <br>
            <h2>Hvorfor det er vigtigt</h2>
            <p>Madspild er ikke kun spild af penge og ressourcer, men det har også nogle alvorlige konsekvenser for klimaet og miljøet. Derfor ønsker vi at kunne samle folk gennem events og fællesskab så der kan tages stilling til problemet og handles sammen på det.</p>


            <br>
            <h2>Hvem er vi?</h2>
            <p>Vi er en gruppe engagerede – frivillige, eksperter og klimaaktivister som alle brænder for at kunne få gjort en forskel for vores verden.
                Vores organisation bygger på samarbejde, viden og handlekraft.</p>

            <br>
            <h2>Hvordan arbejder vi?</h2>
            <p>- Vi oplyser danskerne med fakta og data om madspild, for at belyse hvor problematisk det egentlig er med madspild</p>
            <p>- Vi giver nogle praktiske tips og råd til hvordan man kunne ændre hverdagsvaner.</p>
            <p>- Vi arrangerer events rundt om i landet.</p>
            <p>- Vi samarbejder med skoler, supermarkeder og kommuner om løsninger.</p>

            <br>
            <h2>Vores værdier</h2>
            <p>Vi tror på konkrete handlinger, samarbejde, åbenhed og fællesskab. Alle kan være med – uanset om du vil lære, dele, inspirere eller bare gøre en lille forskel.</p>
        </section>
    </div>


    <footer class="footer">
        <p>Danmark mod Madspild</p>
        <section>
            <h3>Kontakt os</h3>
            <p>Email: DKmodMadspild@mail.dk</p>
            <p>Telefon: +45 12 34 56 78</p>
        </section>
    </footer>

</body>
</html>