<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakta om Madspild</title>
    <link rel="stylesheet" href="/FaktaStylesheet.css">
</head>


<body>
    <header>
        <h1>Værd at vide om madspild</h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href ="index">Forside</a></li>
            <li><a href ="fakta">Fakta</a></li>
            <li><a href ="tips">Tips og råd</a></li>
            <li><a href ="events">Events</a></li>
            <li><a href ="about">Om os</a></li>
        </ul>

        <ul>
        <li><a href ="login">Login</a></li>
        </ul>
    </nav>


    <main class= "container-fakta">
        <section class="fact-box">
            <img src="/madspild1.jpg" alt="Madspild i servicesektoren">
            <h2>DK's samlede madspild årligt</h2>
            <p>Hvert år går der meget mad til spilde i Danmark – dette problem berører både husholdninger, virksomheder og organisationer. Madspild skader miljøet, koster penge og udnytter ressourcer, der kunne bruges bedre. Fra forbrugere til virksomheder og NGO'er har vi alle en rolle at spille i kampen mod madspild.</p>
            <p><b>Forbrugere:</b>
                Små handlinger som planlægning af måltider, korrekt opbevaring og kreativ brug af rester kan reducere madspild og spare penge.</p>
            <p><b>Virksomheder:</b>
                Effektiv lagerstyring, donation af overskudsmad og optimering af produktionsprocesser kan gøre en enorm forskel.</p>
            <p><b>Organisationer:</b>
                Oplysningskampagner, samarbejde og politisk påvirkning skaber grundlaget for bæredygtige løsninger.</p>
        </section>


        <section class="fact-box">
            <img src="/madspild4.jpg" alt="Miljøproblemer">
            <h2>Madspild - et miljømæssigt problem</h2>
            <p>Madspild står for 8-10% af de globale drivhusgasemissioner, hvilket gør det til en betydelig udfordring i kampen mod klimaforandringer.</p>
            <p>Når mad går til spilde, bliver ressourcerne der er brugt til at producere det – såsom vand og energi også spildt. Fx bliver 1/4 af verdens ferskvand brugt til at producere mad der aldrig bliver spist</p>
            <p>Derfor kan en reduktion af madspild ikke kun hjælpe med at mindske CO2-udledning, men også bevare planetens begrænsede ressourcer.</p>
        </section>


        <section class="fact-box">
            <img src="/madspild3.jpg" alt="Detailhandel madspild">
            <h2>Detailhandlens madspild</h2>
            <p>En udfordring i servicesektoren er detailhandelen som bidrager med det største madspild i servicesektoren, svarende til hele 163.000 tons om året.</p>
            <p>Dette udgør 72 % af det samlede madspild i sektoren og viser, hvor vigtigt det er at finde løsninger i denne branche.</p>
            <p>Specialforretninger som slagtere, fiskeforretninger og grønthandlere står for 12.000 tons af madspildet, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse tegner sig for hele 151.000 tons om året.</p>
            <p>Det understreger, at både små og store butikker har en central rolle at spille i kampen mod madspild.</p>
        </section>


        <section class="fact-box">
            <img src="/madspild5.jpg" alt="Innovative løsninger">
            <h2>Innovative løsninger mod madspild</h2>
            <p>Ny teknologi og kreative initiativer spiller en afgørende rolle i kampen mod madspild. Apps som "Too Good To Go" og "YourLocal" gør det muligt for forbrugere at redde overskudsmad direkte fra butikker og restauranter.</p>
            <p>Virksomheder eksperimenterer med bedre produktionsmetoder og intelligente lagerstyringssystemer for at minimere spild.</p>
            <p>Organisationer som "Stop Spild Af Mad" arbejder på at ændre adfærd og fremme donation af mad til velgørenhed.</p>
            <p>Sammen kan vi udvikle løsninger, der skaber en mere bæredygtig fremtid for både mennesker og planeten.</p>
        </section>
    </main>



    <footer class="footer">
        <p>Danmark mod Mapspild - Fakta om Madspild.</p>
    </footer>


</body>
</html>
