<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="LoginStylesheet.css">
</head>

<body>
<div class="login-container">
    <header>
        <h1>Log In</h1>
    </header>
    <main>
        <section>
            <form>
                <label for="name">Navn:</label>
                <input type="text" id="name" name="name" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
            <p th:if="${message}" th:text="${message}"></p>
            <p>
                <a th:href="@{forgot-password}">Forgot your password</a>
            </p>
            <p>
                <b th:href="@{create-user}">Create user</b>
            </p>
            <br>
            <a href ="/index">Tilbage til forside</a>

        </section>
    </main>

</div>
</body>
</html>