<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips & råd</title>

    <link rel="stylesheet" href="TipsStylesheet.css">
</head>


<body>

    <header>
        <h1>Tips & råd for madspild</h1>
    </header>


    <nav class="navbar">
        <ul class="nav-left">
            <li><a href ="forside">Forside</a></li>
            <li><a href ="fakta">Fakta</a></li>
            <li><a href ="tips">Tips og råd</a></li>
            <li><a href ="events">Events</a></li>
            <li><a href ="about">Om os</a></li>
        </ul>

        <ul class="nav-right">
            <li><a href ="login">Login</a></li>
        </ul>
    </nav>



    <h2 class ="titel-header">Her er nogle tips til at mindske madspild</h2>
    <img src="madspild7.jpg">


    <main class="container">
        <section class ="tip-box">
        <h2>5 tips - planlægning og indkøb</h2>
            <p>1. Lav en madplan - Planlæg måltiderne for ugen, så der kun købes det, som man har brug for.</p>
            <p>2. Lav en indkøbsliste – Hold dig til listen, så der ikke købes unødvendige varer.</p>
            <p>3. Undgå impulskøb – Køb ikke mad kun fordi det er på tilbud, hvis det alligevellet ikke bliver brugt.</p>
            <p>4. Kend dine rester – Tjek køleskab og fryser, før der handles ind, på den måde ved man at der ikke købes noget, som man allerede har.</p>
            <p>5. Vær realistisk – Køb ikke mere, end man kan nå at få spist, især friske varer som grøntsager og brød.</p>
        </section>



        <section class="tip-box">
        <h2>5 tips - Opbevaring og holdbarhed</h2>
            <p>1. Opbevar maden korrekt – Brug lufttætte beholdere, og opbevar grøntsager, mejeriprodukter og kød rigtigt.</p>
            <p>2. Brug fryseren – Frys rester ned, hvis du ikke når at spise dem i tide.</p>
            <p>3. Først ind, først ud – Placer de ældste varer forrest, så de bliver brugt først.</p>
            <p>4. Forstå datomærkninger – “Bedst før” betyder ikke, at maden er dårlig efter datoen. Brug dine sanser</p>
            <p>5. Opbevar frugt og grønt rigtigt – Fx så bør tomater og bananer ikke opbevares i køleskabet.</p>
        </section>


        <section>
        <h2>5 tips - Brug af rester kreativt</h2>
            <p>1. Lav "tøm-køleskabet"-måltider – Brug rester til supper, gryderetter, omeletter eller wokretter.</p>
            <p>2. Lav smoothies – Brug de modne frugter til smoothies i stedet for at smide dem ud.</p>
            <p>3. Bag brød om til croutoner – Gammelt brød kan ristes eller laves til rasp.</p>
            <p>4. Brug grøntsagsrester til fond – Kog skræller og rester til en lækker suppefond.</p>
            <p>5. Lav nye retter med madrester – Brug kyllingerester til sandwich eller kartoffelmos til brødboller.</p>
        </section>


        <section class="tip-box">
        <h2> 5 tips - Andre gode vaner</h2>
            <p>1. Del maden – Har man for meget mad, så del det med andre - fx kunne det være venner, naboer eller brug en madspilds-app.</p>
            <p>2. Brug mindre tallerkener – På den måde vil man tage mindre portioner og undgår mad, der vil gå til spilde.</p>
            <p>3. Vær kreativ med madrester – Eksperimentér med nye opskrifter ud fra de tilgængelige fødevarer som du har.</p>
            <p>4. Giv madrester til dyr – Hvis du har husdyr, kan nogle madrester bruges som foder (men vær opmærksom på, hvad de må spise).</p>
            <p>5. Komposter - Hvis der er noget som ikke kan reddes så lav en kompost i stedet for at smide det ud i skraldespanden</p>
        </section>

    </main>



    <footer class="footer">
        <p>Danmark mod Mapspild - Tips og råd til bekæmpelse af madspild.</p>
    </footer>

</body>
</html>